.Cell {
  background: rgb(227, 227, 227);
  background: radial-gradient(
    circle,
    rgba(227, 227, 227, 1) 0%,
    rgba(75, 75, 75, 1) 95%
  );
  cursor: pointer;
  transition: background 0.5s;
  border-radius: 20%;
}

.Cell-lit {
  background: rgb(224, 102, 49);
  background: radial-gradient(
    circle,
    rgba(224, 102, 49, 1) 0%,
    rgba(255, 209, 0, 1) 95%
  );

  transition: background-color 0.5s;
  border-radius: 20%;
}
