.Board {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.Board-Table {
  width: 80vmin;
  height: 80vmin;
}

.Board-Header {
  color: orange;
  margin-bottom: 1rem;
  font-size: 2rem;
}
